<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Products List!</h1>
    <ul>
    {% for Product in products %}
        <li>{{ Product }}</li>
    {% endfor %}
    </ul>

    <h2> Dump </h2>
    <pre>
    {{dump(product)}}
    </pre>
</body>
</html>